*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: lightgrey;
}

h1#month-title{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#days-list{
  overflow-y: auto;
  background-color: white;
}

#days-list > li{
  padding: 10px 20px 10px 10px;
  font-size: 20px;
}
